@model IEnumerable<QCManagement.Models.UserModels>

@{
    //ViewBag.Title = "گزارش DPU";
    Layout = null;
}
<div class="jumbotron" >
    <h1 style="text-align:center;">
    </h1>
    <h2 style="color:red;font-size:26px;align-content:center;">
        امکان ورود به صفحه ی درخواستی با سطح دسترسی شما میسر نمی باشد.
        @*@Html.ActionLink(" ایجاد کاربر جدید", "Create")*@
        | @Html.ActionLink("ورود", "Login")
    </h2>

</div>