@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3 style="align-self:center">به سیستم کیفیت محصول گروه خودروسازی سایپا خوش آمدید</h3>
    <p style="display: flex;
        justify-content: flex-end;
        font-family: Verdana;
    ">Welcome to Saipa Automotive Group's product quality system</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h5>سیستم ثبت عیوب کیفی</h5>
        <p>
            این سیستم به منظور ثبت عیب و ردیابی خودرو در ایستگاه های مختلف کیفی ارائه شده است.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">&raquo Learn more ;</a></p>
    </div>
    <div class="col-md-4">
        <h5>سیستم آدیت محصول SVA</h5>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h5>سیستم تحلیل عیوب</h5>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo</a></p>
    </div>
</div>
